<app-cart-drawer></app-cart-drawer>


<div class="flex flex-col">

    <nz-modal class="txn-hist" [(nzVisible)]="componentState.isTransactionHistoryModalVisible" [nzTitle]="transactionHistoryModalTitle"
        (nzOnCancel)="componentState.isTransactionHistoryModalVisible = false"
        (nzOnOk)="componentState.isTransactionHistoryModalVisible = false" [nzCancelText]="null" [nzClosable]="true">
        <ng-container *nzModalContent>
            <nz-table  *ngIf="componentState.transactionHistory?.length" #basicTable [nzData]="componentState.transactionHistory" [nzShowPagination]="false">
                <thead>
                    <tr>
                    <th>#ID</th>
                    <th>Number of Games</th>
                    <th>Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>#{{data['id'].split("-")[0]| uppercase}}</td>
                        <td>{{data['usertransactiondetails_set'].length}} Game(s)</td>
                        <td>{{data['total_order_value']}}</td>
                    </tr>
                  </tbody>
            </nz-table>
            
        </ng-container>
        <ng-template #transactionHistoryModalTitle>
            Order History
        </ng-template>
    </nz-modal>


    <nz-modal [(nzVisible)]="componentState.isStoreInfoModalVisible" [nzTitle]="storeInfoModalTitle"
        (nzOnCancel)="componentState.isStoreInfoModalVisible = false"
        (nzOnOk)="componentState.isStoreInfoModalVisible = false" [nzCancelText]="null" [nzClosable]="true">
        <ng-container *nzModalContent>
            <ng-container *ngIf="componentState.clickedStore">

                <div class="flex flex-col">
                    <h3>Name: {{componentState.clickedStore.name}}</h3>
                    <h3>Manager:
                        <ng-container *ngIf="componentState.clickedStore.manager">
                            {{componentState.clickedStore.manager.first_name + " " +
                            componentState.clickedStore.manager.last_name}}(<a class="text-blue-500"
                                href="mailto:{{componentState.clickedStore.manager.email}}">{{componentState.clickedStore.manager.email}}</a>)
                        </ng-container>
                        <ng-container *ngIf="!componentState.clickedStore.manager">
                            <em>No Manager Assigned</em>
                        </ng-container>
                    </h3>
                </div>
            </ng-container>
        </ng-container>
    </nz-modal>
    <ng-template #storeInfoModalTitle>
        {{componentState.clickedStore.name | titlecase}}
    </ng-template>


    <nz-input-group *ngIf="componentState.currentStores.length" class="self-center mt-12 h-[4rem] w-[40%]  rounded-md" [nzSuffix]="suffixIconSearch" >
        <input type="text" #search nz-input class="text-xl" (input)="onSearch(search.value)" placeholder="Search products" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    <ng-container *ngIf="componentState.isStoresLoading">
        <div *ngFor="let x of [1,2,3,4,5]"
            class="flex flex-col w-11/12 px-8 border border-gray-200 justify-center h-[18rem] bg-gray-100 self-center rounded-md mt-16">
            <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
        </div>
    </ng-container>
    
    <ng-container *ngIf="!componentState.isStoresLoading && componentState.currentStores.length">
        
        <ng-container *ngFor="let store of componentState.currentStores">
            <div
                class="flex flex-col w-11/12 border border-gray-300 h-[28rem] bg-gray-100 self-center rounded-md mt-12 mb-12" 
                [ngClass]="{'h-[28rem] ': store.products?.length , 'h-[22rem]': !store.products?.length}"
                >
                <div class="flex flex-wrap w-full h-[4rem] border-b border-gray-300 px-4 gap-2">
                    <span nz-icon nzType="shop" nzTheme="outline" class="text-3xl self-center"></span>
                    <p class="text-2xl self-center translate-y-0.5">{{store.name}}</p>
                    <span nz-icon nzType="info-circle" nzTheme="outline" class="cursor-pointer text-xl self-center"
                        (click)="viewStoreInfo(store)"></span>
                </div>
                <div class="flex w-full p-4 gap-4 overflow-x-auto scroll-smooth" [ngClass]="{'h-[24rem]': store.products?.length , 'h-[18rem] bg-gray-50 items-center justify-center ': !store.products?.length}">
                    <ng-container *ngIf="!store.products?.length">
                        <nz-empty class="text-lg" [nzNotFoundContent]="noProductsAvailable"></nz-empty>
                        <ng-template #noProductsAvailable>
                            No products available<br>Please check back later.
                        </ng-template>
                    </ng-container>
                    
                    <ng-container *ngIf="store.products?.length">
                        <ng-container #eachProduct *ngFor="let product of store.products">
                            <nz-card
                                class="min-w-[300px] rounded-md hover:shadow-xl border border-gray-200 transition-shadow"
                                [nzCover]="coverTemplate" [nzActions]="[cardActionTemplate]">
                                <nz-card-meta [nzTitle]="cardTitle" [nzDescription]="cardDescription"></nz-card-meta>
                                <ng-template #cardTitle>
                                    <p>{{product.name}}</p>
                                </ng-template>
                                <ng-template #cardDescription>
                                    <div class="flex flex-col text-gray-700 text-lg">
                                        <p><strong>Price:</strong> {{product.price}} $</p>
                                        
                                    </div>

                                </ng-template>
                            </nz-card>
                            <ng-template #coverTemplate>
                                <div class="p-2 border border-gray-200 cursor-pointer flex justify-center">
                                    <img nz-image alt="example" class="max-w-[284px] max-h-[157px]"
                                        [nzSrc]="product.image_url"/>
                                </div>
                            </ng-template>
                            <ng-template #cardActionTemplate>
                                <div class="flex justify-center gap-2">
                                    <ng-container *ngIf="!!cart[product.id]">
                                        

                                        <button nz-button nzType="primary" nzShape="circle" (click)="removeProductFromCart(product)"><span nz-icon nzType="minus"></span></button>
                                        <p class="w-[3rem] h-[2rem] border border-gray text-black rounded flex items-center justify-center">{{cart[product.id].quantity}}</p>
                                        <button nz-button nzType="primary" nzShape="circle" (click)="addProductToCart(product)"><span nz-icon nzType="plus"></span></button>
                                    </ng-container>
                                    <ng-container *ngIf="!cart[product.id] && userInfo && ['home', 'business'].includes(userInfo.user_type)">
                                        <button nz-button nzType="primary" nzSize="large" class="self-center items-center flex rounded" (click)="addProductToCart(product)">
                                            Add to Cart
                                            <span nz-icon nzType="plus" class="text-xl translate-y-[-2px]"
                                                nzTheme="outline"></span>
                                        </button>
    
                                    </ng-container>
                                </div>
                            </ng-template>
                        </ng-container>

                    </ng-container>

                </div>
            </div>
        </ng-container>


    </ng-container>
    <ng-container *ngIf="!componentState.isStoresLoading && !componentState.currentStores.length">
        <nz-empty class="mt-16 text-xl" [nzNotFoundContent]="noStores"></nz-empty>
        <ng-template #noStores>
            There are no stores to browse.
            <ng-container *ngIf="userInfo.user_type == 'salesperson'">
                <br>Please contact your manager.
            </ng-container>
            
        </ng-template>
    </ng-container>
</div>