<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          Choose Login Option
        </div>
        <div class="card-body">
          <div class="text-center mb-3">
            <a href="/sims/login" class="btn btn-primary btn-lg">Administrator</a>
          </div>
          <div class="text-center">
            <a class="btn btn-success btn-lg">User</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




</body>
</html>